.step {
    margin:1em 0;

    .header {
        padding:1em;
        border-bottom: 2px solid $lightgrey;
        font-weight: bold;
    }
    .number {
        font-size:1.5em;
        font-weight: bold;
        margin-right:1em;
    }
    .desc {
        padding:1em;
        border-bottom: 2px solid $lightgrey;
        .img-center {
            margin: 1em auto;
            display: block;
        }
        .criteres {
            width:550px;
            margin:2em auto;
        }
    }
    .footer {
        padding:1em;
    }
}

.call-to-action {
    margin:2em 0;
    h4 {
        margin:0;
    }
    .button.big {
        margin:.5em 0;
    }
}
#projet-node-form {
    max-width:50%;

    .fieldset-wrapper {
        background:white;
        padding:1em;
        input[type=text], textarea {
            width:100%;
            border:0;
            background: $lightgrey;
            padding:.5em;
        }
    }

    .counter {
        text-align: right;
        margin-bottom: 1em;
        font-size: .9em; 
        strong {
            color:$orange;
        }
    }

    .form-item, .field-type-text-long {
        position: relative;
    }
    .description {
        position: absolute;
        top:2em;
        right: calc(-100% - 2em);
        width: calc(100% - 2em);
        font-size:.7em;
    }
    #edit-field-proj-desc-und-0-format {
        display: none;
    }
    .form-item-field-je-confirme-que-nom-projet-und {
        background:$white url(../images/confirm-project.png) no-repeat center 1em;
        padding:5em 1em 1em 1em;
        background-size: 400px auto;

        .description {
            position: relative;
            top: 0;
            left:0;
        }
    }
}