.page-aider-les-projets #page,
.page-liste-des-demandes #page,
.page-recherche-demandes #page {
  .block-search {
    position: absolute;
    right: 0;
    top: -5px;

    #edit-keys {
      border: none;
      padding: 13px 0 0 0;
      width: 90px;

      &::placeholder {
        text-transform: uppercase;
        color: $darkblue;
        font-weight: bold;
      }
    }

    label[for="edit-keys"] {
      display: none;
    }

    .form-submit {
      background: transparent;
      font-size: 0;
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url(../images/picto-recherche.png) no-repeat center center;
      background-size: 18px;
    }
  }

  .view-besoins {
    margin-top: 0.5em;

    .item-list {
      li {
        margin: 0;
        list-style: none;
      }

      .besoin {
        background-color: $white;
        margin-bottom: 1em;
        display: grid;
        grid-template-areas:
          "title title title title title"
          "photo photo project project project"
          "photo photo desc desc desc"
          "photo photo button .. ..";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .title-besoin {
          margin: 0;
          padding: 0.5em 8em;
          background: $darkblue;
          color: $white;
          text-align: center;
          text-transform: uppercase;
          font-size: 1.2em;
          grid-area: title;
        }
        .img {
          grid-area: photo;
          margin-right: 2em;
          background: url(../images/BG-1.png) repeat;
          display: flex;
          align-items: center;

          img {
            background: $white;
            object-fit: cover;
            width: 280px;
            height: 150px !important;
          }
        }
        .title {
          grid-area: project;
          padding-top: 0.5em;
          a {
            h3 {
              color: $darkblue;
              margin: 0.5em 0;
              text-transform: uppercase;
            }

            &:hover,
            &:hover h3 {
              color: $orange;
              text-decoration: none;
            }
          }
        }
        .views-field-field-need-desc {
          grid-area: desc;
          margin: 0.5em 0 1em 0;

          .need-money {
            margin-top: 0.5em;
          }
          .field-name-field-need-objectif {
            display: inline-block;
            .field-label,
            .field-items {
              display: inline-block;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
          .field-name-field-need-collect {
            display: inline-block;
            margin-left: 1em;
            .field-label,
            .field-items {
              display: inline-block;
              font-weight: bold;
              color: $orange;
              text-transform: uppercase;
            }
          }
          .graph {
            display: block;
            .label {
              color: $orange;
              float: right;
              margin-top: -31px;
              margin-right: 1em;
              font-weight: bold;
            }
            .total {
              display: block;
              height: 1em;
              margin: 0.5em 1em 0.5em 0;
              background: $darkerbg;
              .amount {
                background: $orange;
                height: 1em;
              }
            }
          }
        }
        .btn-action {
          grid-area: button;
          margin-bottom: 1em;
          &.btn-need_money,
          &.btn-need_people,
          &.btn-need_stuff,
          &.btn-offres_hebergement {
            color: $white;
            padding: 0.5em 3em;
            border-radius: 2px;
            min-width: 200px;
            display: inline-block;
            text-align: center;
            font-size: 0.9em;
            text-transform: uppercase;
            &:hover {
              text-decoration: none;
            }
          }
          &.btn-need_stuff {
            background-color: $blue;
            &:hover {
              background-color: transparentize($blue, 0.15);
            }
          }

          &.btn-need_money {
            background-color: $orange;
            &:hover {
              background-color: transparentize($orange, 0.15);
            }
          }

          &.btn-need_people {
            background-color: $green;
            &:hover {
              background-color: transparentize($green, 0.15);
            }
          }

          &.btn-offres_hebergement {
            background-color: $pink;
            &:hover {
              background-color: transparentize($pink, 0.15);
            }
          }
        }
      }
    }
  }

  .pager {
    a {
      color: $darkblue;
      padding: 0;
      display: inline-block;
    }

    .pager-current {
      color: $white;
      background-color: $darkblue;
      border-radius: 50%;
      width: 24px;
      padding: 0;
      display: inline-block;
    }
  }
}

#block-views-exp-besoins-page {
  padding: 0 1em 0 0;

  .views-exposed-widget {
    padding: 0;
  }

  .views-exposed-widgets > div > label {
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
    margin-top: 2em;
  }
  .views-exposed-form {
    /* Basic styles */
    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    label.option {
      position: relative;
      display: inline-block;
      padding: 0 0 0 1.6em;
      height: 1em;
      line-height: 1.4;
      cursor: pointer;
    }
    label.option::before,
    label.option::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 1em;
      height: 1em;
    }
    label.option::before {
      content: " ";
      border: 2px solid $taggrey;
      border-radius: 2px;
      background: $taggrey;
    }
    label.option:hover::before {
      background: $darkblue;
      border-color: $darkblue;
    }
    /* Checkbox */
    input[type="checkbox"] + label.option::after {
      content: "\2714";
      color: $darkblue;
      line-height: 1.5;
      text-align: center;
      padding-left: 3px;
    }
    /* Radio */
    input[type="radio"] + label.option::before {
      border-radius: 50%;
    }
    input[type="radio"] + label.option::after {
      content: " ";
      top: 0.25em;
      left: 0.25em;
      width: 1em;
      height: 1em;
      background: $orange;
      border: 0.2em solid $orange;
      border-radius: 50%;
    }
    /* :checked */
    input[type="checkbox"]:checked + label.option::before,
    input[type="radio"]:checked + label.option::before {
      background: $orange;
      border-color: $orange;
    }
    input[type="checkbox"] + label.option::after,
    input[type="radio"] + label.option::after {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    input[type="checkbox"]:checked + label.option::after,
    input[type="radio"]:checked + label.option::after {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    /* Transition */
    label.option::before,
    label.option::after {
      transition: 0.25s all ease;
    }
    label.option {
      color: $taggrey;
      text-transform: uppercase;
      &:hover {
        color: $darkblue;
      }
    }
    input:checked ~ label.option {
      color: $orange;
    }

    label[for="edit-type-1-need-stuff"] {
      color: $lightblue;
    }
    label[for="edit-type-1-need-people"] {
      color: $green;
    }
    label[for="edit-type-1-need-money"] {
      color: $orange;
    }
    label[for="edit-offre-offres-hebergement"] {
      color: $pink;
    }
    input[type="checkbox"]:checked ~ label[for="edit-type-1-need-stuff"].option,
    input[type="radio"]:checked ~ label[for="edit-type-1-need-stuff"].option,
    label[for="edit-type-1-need-stuff"]:hover,
    label[for="edit-type-1-need-stuff"]:hover {
      color: $lightblue;
    }
    input[type="checkbox"]:checked
      ~ label[for="edit-type-1-need-stuff"].option::before,
    input[type="radio"]:checked
      ~ label[for="edit-type-1-need-stuff"].option::before {
      background: $lightblue;
      border-color: $lightblue;
    }
    input[type="checkbox"]:checked
      ~ label[for="edit-type-1-need-people"].option,
    input[type="radio"]:checked ~ label[for="edit-type-1-need-people"].option,
    label[for="edit-type-1-need-people"]:hover,
    label[for="edit-type-1-need-people"]:hover {
      color: $green;
    }
    input[type="checkbox"]:checked
      ~ label[for="edit-type-1-need-people"].option::before,
    input[type="radio"]:checked
      ~ label[for="edit-type-1-need-people"].option::before {
      background: $green;
      border-color: $green;
    }
    input[type="checkbox"]:checked ~ label[for="edit-type-1-need-money"].option,
    input[type="radio"]:checked ~ label[for="edit-type-1-need-money"].option,
    label[for="edit-type-1-need-money"]:hover,
    label[for="edit-type-1-need-money"]:hover {
      color: $orange;
    }
    input[type="checkbox"]:checked
      ~ label[for="edit-type-1-need-money"].option::before,
    input[type="radio"]:checked
      ~ label[for="edit-type-1-need-money"].option::before {
      background: $orange;
      border-color: $orange;
    }
    input[type="checkbox"]:checked
      ~ label[for="edit-offre-offres-hebergement"].option,
    input[type="radio"]:checked
      ~ label[for="edit-offre-offres-hebergement"].option,
    label[for="edit-offre-offres-hebergement"]:hover,
    label[for="edit-offre-offres-hebergement"]:hover {
      color: $pink;
    }
    input[type="checkbox"]:checked
      ~ label[for="edit-offre-offres-hebergement"].option::before,
    input[type="radio"]:checked
      ~ label[for="edit-offre-offres-hebergement"].option::before {
      background: $pink;
      border-color: $pink;
    }
  }
}
