// FAQ
#block-faq-faq-categories {
  .block-title {
    display: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding-left: 0;
      margin-bottom: 1em;
      font-family: 'geomanistmedium';
      line-height: 1.3em;

      &::before {
        content: "\f178";
        font: normal normal normal 14px/1 forkawesome;
        font-size: 14px;
        text-rendering: auto;
        -moz-osx-font-smoothing: grayscale;
        color: $orange;
        margin-right: 5px;
      }
    }
  }

}

.faq-qa-header {
  margin-top: 2.5em;
}

.faq-question-answer {
    background: $white;
    padding: 0 1em;
    margin: 4px 0;
}

.faq-header {
    color: $greytitle;
    text-transform: uppercase;
    font-family: 'geomanistmedium';
    font-size: 1.3em;
    line-height: 1em;
    margin-bottom: 1.5em;
}

.faq-category-group:first-child {
    .faq-qa-header:first-child {
        margin-top: 0;
        .faq-header:first-child {
            margin-top: 0; 
        }
    }
}

.faq-question {
    color: $darkblue;
    padding: .5em 0;
    
    a {
        font-weight: bold;
        color: $darkblue;
        padding: .5em .5em .5em 24px;
        background: url(../images/picto-faq.png) no-repeat center left;
        background-size: 18px;
        &:hover {
            text-decoration: none;
        }
    }
    &.faq-qa-visible a {
        color:$orange;
        background: url(../images/picto-faq-down.png) no-repeat center left;
        background-size: 18px;
    }
}

.faq-answer {
    margin-top: 1em;
    padding: 0 0 .5em 1.5em;

    .faq-detailed-question {
        font-style: normal;
        font-weight: bold;
        margin-bottom: 1em;
    }
}
