/** Homepage stylign **/
.front {
  .flex-2cols, .flex-2cols #block-system-main {
    & > .region {
      width: 66%;
    }
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    & > .content {
      padding: 0;
      width:100%;
    }
  }

  .sidebar {
    margin-left:1em;
    width: 360px;
    padding: 0;
  }
  #page {
    padding-top:0;
    background: #eef0f0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEaAQMAAADqva8mAAAABlBMVEUAAAD///+l2Z/dAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAEElEQVQoz2NoYBiFo5AkCABdSY0BvOCMkwAAAABJRU5ErkJggg==) repeat-x;
  }
}

#block-views-actus-home-block {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: .5em;

  h2 {
    padding-top: 180px;
    margin: 0;
    background: url(../images/picto-actu.png) no-repeat center 95px;
    background-color: $white;
    color: $darkblue;
    text-align: center
  }

  .item-list {
    background: $white;
    height: 316px;
    overflow: auto;
    padding: 1em;
  }

  .item-list ul {
    padding: 0;
    margin: 0;
  }

  .item-list li {
    list-style: none;
    padding: 0;
    margin: .5em 0;
  }
}

#block-views-nodequeue-1-block-1 .item-list {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    width: 32.5%;

    .img {
      img {
        width:100%;
      }
    }
    .infos {
      background-color: rgba(0, 0, 0, .5);
      padding: 1em;
      font-size:.9em;
      text-align: right;
      position: absolute;
      bottom:0;
      left:0;
      right:0;
      color:$white;
      a {
        color:$white;
        text-decoration: none;
        &:hover, &:hover h3, &:hover p {
          text-decoration: none;
          color:$orange;
        }
      }
      h3 {
        color:$white;
        margin:0;
        padding: 0;
        text-transform: uppercase;
        font-size:1em;
      }
      p {
        margin:0;
      }
    }
  }
}
.front #main {
  margin-bottom: 1em;
}
.front #content_bottom {
  margin-bottom: 3em;
}
