.hosting-container {
  display:grid;
  grid-gap: 1em;
  grid-template-columns: auto 300px;
}
.hosting-desc {
  background-color: $white;
  padding: 1em;

  header {
    display:grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr;

    .capacity, .price {
      border:2px solid $lightgrey;
      padding: .5em;
      border-radius: 5px;
    }
    .button {
      width:100%;
      padding: 1em;
      text-align: center;
    }
  }
}
.hosting-aside {
  font-size: inherit;

  img {
    margin-bottom: 1em;
  }
}
.hosting-img {
  max-width: 400px;
  width:auto;
  max-height:300px;
  height: auto;
  margin-bottom: 1em;
}
