/*============================================*\
    $Messagerie
\*============================================*/

.page-messages {
  // /* == Wrapper == */
  // .title-wrapper {
  // }

  // #page-title{
  //     background-color: #fff !important;
  //     color: $orange !important;
  //     padding: 0 !important;
  //     text-align: left !important;
  //     font-size: 48px !important;
  //     font-family: 'geomanistbook', sans-serif !important;
  //     font-weight: 500 !important;
  //     margin: 5px 0 48px 0 !important;
  // }

  /* == Boutons == */

  .icoContainer {
    display: block;
    position: absolute;
    height: 60px;
  }

  .icoCircle {
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
    background-color: $orange;
    position: relative;
    z-index: 10;
  }

  .ico-green {
    background-color: #b9cd00 !important;
  }

  .ico {
    width: 36px;
    height: 36px;
    margin: auto;
    color: #fff;
    display: block;
  }

  .icoText {
    display: inline-block;
    width: 0;
    height: 35px;
    font-family: Geomanist, 'sans-serif';
    font-size: 18px;
    color: #fff;
    line-height: 35px;
    background-color: $orange;
    border-radius: 7px;
    padding: 0;
    position: relative;
    top: -10px;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateX(-20px);
    transition: width, padding;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .icoContainer:hover .icoText.ico-orange {
    display: inline-block;
    transform: translateX(-20px);
    transition: width, padding;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding: 0 5px 0 15px;
    width: 250px;
  }

  .icoContainer:hover .icoText.ico-green {
    display: inline-block;
    transform: translateX(-20px);
    transition: width, padding;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    padding: 0 5px 0 15px;
    width: 175px;
  }

  .icoLink {
    color: inherit;
    text-decoration: inherit;
  }

  /* == Filters == */
  .tabs {
    display: none;
  }

  #privatemsg-list-form .container-inline {
    display: none;
  }

  #edit-filter {
    display: none;
  }

  #edit-token {
    display: none;
  }

  #edit-cancel {
    display: none;
  }

  #privatemsg-new .filter-wrapper {
    display: none;
  }

  #privatemsg-list-form {
    padding-top: 10px;
  }


  /* Modifications du fil de discussion (par Alex) */


  .privatemsg-message-body {
    color: white;
    background-color: rgba(255, 165, 0, 1);
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-radius: 5px 5px 5px 0px;
    border: 2px;
    border-color: rgb(255, 165, 0);
    /*border-style: solid;*/
  }


  .privatemsg-message-body p {
    margin-bottom: 0;
  }

  div.privatemsg-message-information {
    border-bottom: none;
    margin-bottom: 0px;
    margin-left: 10px;
  }

  .message_receiver .privatemsg-message-column {
    float: left;
  }

  .message_sender .privatemsg-message-column {
    float: right;
  }

  .message_sender .privatemsg-message-body {
    background-color: rgba(91, 106, 108, 1);
    border-color: grey;
    color: white;
    border-radius: 5px 5px 0 5px;
    //rgba(91,106,108,0.5);
  }

  .privatemsg-message-column {
    width: auto;
  }

  .privatemsg-author-avatar {
    display: none;
  }

  .privatemsg-message-participants {
    display: none;
  }

  .privatemsg-author-name {
    margin-left: 10px;
    color: grey;
  }

  .privatemsg-message-date {
    float: right;
    margin-right: 10px;
  }

  .privatemsg-message-actions.links.inline {
    display: none;
  }

  div#privatemsg-filter-tags a {
    display: none
  }

  .privatemsg-message-last {
    margin-bottom: 40px;
  }

  label[for="edit-body-value"] {
    display: none;
  }

  .form-textarea-wrapper textarea {
    border-color: #b9cd00;
    border-radius: 5px 5px 0 0;
  }

  .resizable-textarea .grippie {
    background: #ccd83f url(../../misc/grippie.png) no-repeat center 2px;
    border: 1px solid #b9cd00;
    border-top-width: 0;
    cursor: s-resize;
    height: 9px;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.17);
  }


  /* == Boite de reception == */
  .privatemsg-list {
    margin-top: 5.75em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-spacing: 0;
    float: right;
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
    transform: translateY(-70px);

  }

  .privatemsg-list a {
    text-decoration: none;
    color: inherit;
  }

  .privatemsg-list .form-checkbox {
    display: none;
  }

  .privatemsg-list .form-type-checkbox {
    display: none;
  }

  .privatemsg-list tr {
    background-color: #fff !important;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .privatemsg-list tr:hover {
    background-color: #f5f5f5 !important;
  }

  .privatemsg-list th,
  td {
    border-bottom: 1px solid #eef0f0;
    width: auto;
    max-width: 300px;
  }

  .privatemsg-list th {
    font-weight: normal;
    font-size: 1.1em;
    padding: .5em 1em;
    text-transform: uppercase;
    border-bottom-width: 3px;
    border-bottom-color: $orange;
    background-color: $darkblue;
    color: $white;
    text-align: left;
    font-family: 'geomanistbook', sans-serif;
  }

  .privatemsg-list td {
    padding: .5em 1em;
  }

  .privatemsg-list td a:hover {
    text-decoration: underline;
  }


  .icoText {
    /* top: -10px; */
    top: -50px;
    left: 60px;
  }

  #block-system-main {
    float: right;
    width: calc(100% - 80px);
  }

  #block-block-27 {
    margin-top: 30px;
    display: inline-block;
    width: 60px;
  }

  #switch_edit-body-value {
    display:none;
  }

}
