/** Homepage stylign **/
.node-type-projet {
  #title-page {
    display: none;
  }
  .title-wrapper {
    text-align: center;
    margin-top: -3em;
    margin-bottom: 0.5em;

    .title {
      position: relative;
      padding: 0.75em 0;
      margin: 0;
      color: $orange;
      text-transform: uppercase;
      .name {
        color: $darkblue;
        font-weight: normal;
        display: block;
        font-size: 0.6em;
        font-style: italic;
        text-transform: lowercase;

        a {
          text-transform: capitalize;
          font-weight: bold;
          color: $darkblue;
          font-style: normal;
        }
      }
      &::before {
        content: " ";
        position: absolute;
        top: 0;
        display: block;
        left: calc(50% - 1.5em);
        width: 3em;
        height: 3px;
        background: $orange;
      }
      &::after {
        content: " ";
        position: absolute;
        bottom: 0;
        display: block;
        left: calc(50% - 1.5em);
        width: 3em;
        height: 2px;
        background: $orange;
      }
    }
  }

  .project-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

    .projet-main {
      width: 66%;

      .projet-desc {
        background: $white;
        padding: 1em;
      }

      .galleryview {
        margin: 0 -1em;
      }

      .gallery-thumbs {
        background-color: rgba(0, 0, 0, 0.3);
        margin-top: -49px;
        padding: 5px 0;

        .wrapper {
          width: 100%;
        }

        ul {
          float: right;
          margin-right: 5px;

          li {
            padding: 0 5px 0 0;
          }
        }
      }

      h2,
      .fieldset-legend {
        color: $darkblue;
        font-size: 1.4em;
        margin: 1em 0 0.5em 0;
      }
    }

    .projet-side {
      margin-left: 1em;
      width: 360px;
      padding: 0;

      .block-share {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          font-size: 1.1em;
          text-transform: uppercase;
        }

        .social-btns {
          font-size: 2em;

          a {
            color: $darkblue;
            float: none;
            margin-right: 15px;

            &:hover {
              color: $orange;
            }
          }
        }
      }

      .block-author {
        margin-top: 2em;
        img {
          border-radius: 50%;
        }
        .field-name-field-user-desc {
          margin-bottom: 1em;
        }
      }

      .block-map {
        margin-top: 1em;
        background: $white;
        padding: 5px;
        h3 {
          text-align: center;
          font-size: 0.9em;
          text-transform: uppercase;
          margin: 10px 0;
          padding: 0;
        }
      }
    }
    .needs {
      background-color: $white;
      margin: 1em 0;

      h2 {
        padding: 1em 0 1em 34px;
        margin: 0;
        border-bottom: 1px solid $lightgrey;
      }
      &.money {
        h2 {
          color: $orange;
          background: url(../images/picto-need-money.png) no-repeat center right;
          background-position-x: calc(100% - 90px);
        }
        .type span {
          color: $orange;
        }
      }
      &.people {
        h2 {
          color: $green;
          background: url(../images/picto-need-people.png) no-repeat center
            right;
          background-position-x: calc(100% - 90px);
        }
        .type span {
          color: $green;
        }
      }
      &.stuff {
        h2 {
          color: $blue;
          background: url(../images/picto-need-stuff.png) no-repeat center right;
          background-position-x: calc(100% - 90px);
        }
        .type span {
          color: $blue;
        }
      }
      &.offers {
        h2 {
          color: $pink;
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-gem' viewBox='0 0 16 16' fill='%23dc4764'%3E%3Cpath d='M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z'%3E%3C/path%3E%3C/svg%3E") no-repeat center right;
          background-position-x: calc(100% - 90px);
          background-size: 40px;
        }
        .type span {
          color: $pink;
        }
      }
      .row {
        display: grid;
        grid-template-areas:
          "title title title action"
          "desc  desc  desc  action"
          "fig   fig   fig   fig";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1em;
      }
      .type {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 0.5em;
        grid-area: title;
      }
      .desc {
        grid-area: desc;
      }
      .action {
        grid-area: action;
      }
      .figures {
        grid-area: fig;
      }

      .need {
        background-color: $white;
        padding: 1em 2em;
        border-bottom: 1px solid $lightgrey;
      }

      .field-name-field-need-objectif {
        display: inline-block;
        .field-label,
        .field-items {
          display: inline-block;
          font-weight: bold;
          text-transform: uppercase;
        }
      }
      .field-name-field-need-collect {
        display: inline-block;
        margin-left: 1em;
        .field-label,
        .field-items {
          display: inline-block;
          font-weight: bold;
          color: $orange;
          text-transform: uppercase;
        }
      }
      .graph {
        display: block;
        .label {
          color: $orange;
          float: right;
          margin-top: -31px;
          margin-right: 1em;
          font-weight: bold;
        }
        .total {
          display: block;
          height: 1em;
          margin: 0.5em 1em 0.5em 0;
          background: $darkerbg;
          .amount {
            background: $orange;
            height: 1em;
          }
        }
      }
    }
  }

  #page {
    padding-top: 0;
    background: $lightgrey
      url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEaAQMAAADqva8mAAAABlBMVEUAAAD///+l2Z/dAAAACXBIWXMAAC4jAAAuIwF4pT92AAAAEElEQVQoz2NoYBiFo5AkCABdSY0BvOCMkwAAAABJRU5ErkJggg==)
      repeat-x;
    background-position: 0 -36px;
  }

  .galleryformatter,
  .galleryformatter .gallery-thumbs,
  .galleryformatter .gallery-slides {
    max-width: 100%;
  }
}
.section-node-edit {
  #title-page {
    display: block;
    text-align: center;
    margin-top: -4em;
    margin-bottom: 1em;
  }
  .fieldset-legend {
    color: $darkblue;
    font-size: 1.4em;
    margin: 1em 0 0.5em 0;
    font-weight: bold;
    display: block;
    background-image: none !important;
    padding-left: 0;
  }
  .fieldset-title {
    cursor: pointer;
    color: $darkblue;
    &:hover {
      text-decoration: none;
    }
  }
  #projet-node-form .form-item-field-je-confirme-que-nom-projet-und {
    background: #fff url(../images/confirm-project.png) no-repeat center 0.5em;
    background-size: 400px auto;
    padding: 3.5em 1em 1em 1em;
    .description {
      font-size: 0.6em;
    }
  }
}

.form-item-field-projet-und-0-target-id,
.form-item-field-proj-money-und-form-field-projet-und-0-target-id,
.form-item-field-proj-people-und-form-field-projet-und-0-target-id,
.form-item-field-proj-stuff-und-form-field-projet-und-0-target-id {
  display: none;
}
