/* block icones map et liste projet */
.block-icones {
  position: absolute;
  right: 180px;
  top: -8px;

  .projets-tabs {
    display: none;
  }
  .projet-display {
    .liste {
      display: inline-block;
      width: 60px;
      height: 30px;
      margin-right: 10px;
      font-size: 0;
      background: url(../images/picto-liste.png) no-repeat 0 2px;
      background-size: contain;
      &.active,
      &:hover {
        background: url(../images/picto-liste-active.png) no-repeat top left;
        background-size: contain;
      }
    }
    .carte {
      display: inline-block;
      width: 60px;
      height: 30px;
      font-size: 0;
      background: url(../images/picto-carte.png) no-repeat top left;
      background-size: contain;
      &.active,
      &:hover {
        background: url(../images/picto-carte-active.png) no-repeat top left;
        background-size: contain;
      }
    }
  }

  h3 {
    display: none;
  }
}

.page-liste-des-projets #page,
.page-recherche #page {
  #search-block-form {
    text-align: right;
    margin-top: -5em;
    margin-bottom: 1em;

    .form-text {
      width: 200px;
      margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    #edit-submit {
      float: none;
      background-color: $darkblue;
      color: $white;
      padding: 5px;
      margin-left: -4px;
    }
  }

  .pager {
    a {
      color: $darkblue;
      padding: 0;
      display: inline-block;
    }

    .pager-current {
      color: $white;
      background-color: $darkblue;
      border-radius: 50%;
      width: 24px;
      padding: 0;
      display: inline-block;
    }
  }
}

.view-projets {
  .item-list {
    li {
      margin: 0;
      list-style: none;
    }

    .projet {
      background-color: $white;
      margin-bottom: 1em;
      padding-right: 1em;
      display: grid;
      grid-template-areas: "img title" "img desc" "img more";
      grid-template-columns: 280px 1fr;

      .img {
        grid-area: img;
        margin-right: 1em;
      }
      .title {
        grid-area: title;
        margin: 0.5em 0;
        a:hover {
          color: $orange;
          text-decoration: none;

          h3,
          .porteur {
            color: $orange;
          }
        }
        h3 {
          margin: 0;
          text-transform: uppercase;
        }
        .porteur {
          color: $darkblue;
          font-size: 0.9em;
        }
      }
      .desc {
        grid-area: desc;
        font-size: 0.85em;
      }
      .more {
        grid-area: more;
        margin-top: 0.5em;
        margin-bottom: 0.5em;

        a {
          background-color: $orange;
          color: $white;
          padding: 0.3em 3em;
          text-align: center;
          font-size: 0.9em;
          text-transform: uppercase;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .votes {
        display: none;
      }
    }
  }
}

#block-views-exp-projets-page-2 {
  position: absolute;
  right: 0;
  top: -5px;

  #edit-keys {
    border: none;
    padding: 13px 0 0 0;
    width: 90px;

    &::placeholder {
      text-transform: uppercase;
      color: $darkblue;
      font-weight: bold;
    }
  }

  label[for="edit-keys"] {
    display: none;
  }
  #edit-submit-projets {
    background: transparent;
    font-size: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/picto-recherche.png) no-repeat center center;
    background-size: 18px;
  }
}

#block-views-exp-projets-page {
  padding: 0 1em 0 0;

  .views-exposed-widget {
    padding: 0;
  }

  label[for="edit-thematique"] {
    text-transform: uppercase;
    padding: 0;
    font-weight: bold;
  }
  .views-exposed-form {
    /* Basic styles */
    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    label.option {
      position: relative;
      display: inline-block;
      padding: 0 0 0 1.6em;
      height: 1em;
      line-height: 1.4;
      cursor: pointer;
    }
    label.option::before,
    label.option::after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 1em;
      height: 1em;
    }
    label.option::before {
      content: " ";
      border: 2px solid $taggrey;
      border-radius: 2px;
      background: $taggrey;
    }
    label.option:hover::before {
      background: $darkblue;
      border-color: $darkblue;
    }
    /* Checkbox */
    input[type="checkbox"] + label.option::after {
      content: "\2714";
      color: $darkblue;
      line-height: 1.5;
      text-align: center;
      padding-left: 3px;
    }
    /* Radio */
    input[type="radio"] + label.option::before {
      border-radius: 50%;
    }
    input[type="radio"] + label.option::after {
      content: " ";
      top: 0.25em;
      left: 0.25em;
      width: 1em;
      height: 1em;
      background: $orange;
      border: 0.2em solid $orange;
      border-radius: 50%;
    }
    /* :checked */
    input[type="checkbox"]:checked + label.option::before,
    input[type="radio"]:checked + label.option::before {
      background: $orange;
      border-color: $orange;
    }
    input[type="checkbox"] + label.option::after,
    input[type="radio"] + label.option::after {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    input[type="checkbox"]:checked + label.option::after,
    input[type="radio"]:checked + label.option::after {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    /* Transition */
    label.option::before,
    label.option::after {
      transition: 0.25s all ease;
    }
    label.option {
      color: $taggrey;
      text-transform: uppercase;
      &:hover {
        color: $darkblue;
      }
    }
    input:checked ~ label.option {
      color: $orange;
    }
  }
}

.view-display-id-attachment_1 {
  margin-top: 1em;
}

/* Carto */
.map-marker {
  font-size: 0;
  background: url(../images/marker.svg) no-repeat bottom center;
  background-size: 36px;
}

.marker-cluster-small {
  background-color: rgba(230, 140, 30, 0.25);
}

.marker-cluster-medium {
  background-color: rgba(230, 140, 30, 0.75);
}

.marker-cluster-large {
  background-color: rgba(230, 140, 30, 1);
}

.marker-cluster-small div,
.marker-cluster-medium div,
.marker-cluster-large div {
  background-color: rgba(230, 140, 30, 1);
}

.marker-cluster span {
  color: white;
  font-weight: bold !important;
}
