.page-user,
.page-user-register {

  #title-page {
    h1 {
      text-align: center;
      text-transform: none;
    }
  }

  .intro-user-login {
    font-weight: bold;
    font-size: 1.2em;
  }

  #user-register-form,
  #user-profile-form,
  #user-login,
  #user-pass {
    margin: 0 auto;
    max-width: 22em;
    width: 100%;

    .password-confirm,
    .password-strength,
    .form-type-select label {
      display: none;
    }

    .password-suggestions {
      width: 100%;
      border: 1px solid $green;
    }

    .fieldset-wrapper {
      margin-top: 1em;
    }

    .form-type-password {
      width: 100%;
    }

    .form-item,
    .form-actions {
      margin: 0 0 1em 0;
    }

    input[type=text],
    input[type=password],
    textarea,
    select {
      max-width: 22em;
      width: 100%;
      display: block;
      background: $lightgrey;
      color: $darkblue;
      padding: .5em;
      border: none;
      margin: 0 0 .5em 0;
    }

    .addressfield-container-inline {

      .postal-code {
        width: 7em;
        margin-right: 1em;
      }

      .locality {
        width: 11em;
      }
    }

    .link-password {
      display: block;
      text-align: center;
      font-size: .8em;
      margin-bottom: 1em;
    }

    #edit-submit {
      border-radius: 4px;
      width: 100%;
      margin: 0;
      padding: 1em;
      font-size: 1.2em;
      text-align: center;
      color: $white;
      background: $orange;

      &:hover {
        color: $white;
        background: $darkblue;
      }
    }
  }

  .white-box {
    padding: 2em;
    background: $white;
  }

  #user-pass, #user-profile-form {
    max-width: 35em;
    background: white;
    padding: 2em 2em 5em 2em;

    input[type=text],
    input[type=password],
    textarea,
    select {
      max-width: 31em;
    }
  }
}

.section-users {
  #title-page h1 {
    text-align: left;
    text-transform: none;
  }

  .user-info {
    text-align: left;

    .button {
      width: 211px;
    }

    .field-name-field-photo {
      margin-top: -85px;
      margin-bottom: 1em;

      img {
        border-radius: 50%;
      }
    }
    .name-group {
      margin-bottom: 1em;

      .field-name-field-nom, .field-name-field-prenom {
        display: inline-block;
        text-align: left;
        font-size: 1.3em;
        font-family: 'geomanistmedium';
        font-weight: bold;
      }
      .field-name-field-prenom {
        text-transform: capitalize;
      }
      .field-name-field-nom {
        margin-left:4px;
        text-transform: uppercase;
      }
    }

    .field-name-field-user-desc {
      margin-bottom: 1em;
    }
  }

  .user-projets .item-list .projet .img {
    margin-right: 1em;
    width: 50%;
  }
  .user-projets .projet h3 {
      border-bottom: none;
  }
}

.page-user-register {
  #user-register-form, #user-register-form--2 {
    width: 50%;
    max-width: 50%;
    margin: 0;
    & > div {
      background: $white;
      padding: 2em 6em 5em 6em;
    }
  }
  .form-item, .field-type-text-long {
    position: relative;
  }
  .description {
      position: absolute;
      top:0;
      right: calc(-150% - 9em);
      width: calc(150%);
      font-size:.85em;
  }
  .form-item-mail .description {
    top:-1em;
  }
  .form-item-pass .description {
    top:3em;
  }
  .password-suggestions {
    display: block;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
  }
  input:focus, textarea:focus {
    box-shadow:0 0 3px $orange;
    & ~ .description {
      font-weight:bold;
    }
  }
}
