/*
 * #############################################
 * ##### Sasson - Advanced Drupal Theming. #####
 * #############################################
 *
 *          econocom main stylesheet.
 */
// ---- Imports and Definitions. ------------------
//   Call external libraries and partials.
// ------------------------------------------------
// Compass (http://compass-style.org).
@import "compass"; // Susy (Sasson's layout system).
@import "susy"; // Theme variables (_settings.scss).
@import "layout/settings"; // Internal mixins partial (under /partials).
@import "partials/colors";
@import "partials/mixins";
@import "partials/fonts";
@import "partials/forkawesome/fork-awesome";
//@import 'partials/nice-select-prefixed';

* {
  box-sizing: border-box;
}

body {
  background-color: $bodybg;
  color: $textcolor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.44;

  overflow-x: hidden;
}

b,
strong {
  font-weight: 700;
}

p {
  margin: 0 0 0.6em;
}

a {
  color: $orange;
  text-decoration: none;
  transition: background, color $rollover-time, $rollover-time;

  &:visited,
  &:active,
  &:focus {
    color: $green;
    outline: none;
    text-decoration: underline;
  }

  &:hover {
    color: $orange;
    text-decoration: underline;
  }
}

.clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

img {
  height: auto !important;
  max-width: 100%;
}

input:focus {
  outline: none;
}

h1,
h2,
h3,
h4 {
  font-family: "geomanistmedium";
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  color: $darkblue;
  font-size: 2em;
  text-transform: uppercase;
  margin: 0.5em 0 0.1em;

  &.page-name {
    text-transform: none;
    width: 32%;
    display: inline-block;
    text-align: right;
    margin-right: 4em;
    margin-bottom: 1em;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 42px;
      height: 2px;
      display: block;
      bottom: -8px;
      right: 1px;
      border-bottom: 4px solid #fbcd14;
    }
  }
}

.section-actualits h1.page-name {
  width: auto;
  display: inline-block;
  text-align: left;
}

h2 {
  font-size: 1.6em;
  color: $orange;
}

h3 {
  color: $darkblue;
  font-size: 1.3em;
}

blockquote {
  color: $darkblue;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  margin: 0 auto;
  max-width: 80%;
}

small {
  font-size: 0.75em;
}

.lead {
  font-weight: bold;
  font-size: 1.2em;
}
.text-center {
  text-align: center;
}
.text-orange {
  color: $orange;
}
.white-bg {
  background: $white;
}

@import "components/colibris-navbar";
@import "components/navbar";
@import "components/sidebar";
@import "components/footer";
@import "components/grid";
@import "pages/home";
@import "pages/demands-list";
@import "pages/project-list";
@import "pages/faq";
@import "pages/messages";
@import "pages/user";
@import "pages/projet";
@import "pages/add-project";
@import "pages/hosting";

.navigation {
  background: $white;
  padding: 1em 0 1em;
  font-size: 14px;
  font-family: "geomanistmedium", sans-serif;
  color: $darkblue;
  .user-menu {
    float: right;
    text-align: right;
    margin-top: 1em;

    a {
      color: $darkblue;
      &:hover {
        text-decoration: none;
        color: $orange;
      }
    }
    a.button {
      color: $white;
    }
  }
}

//main menu
.main-menu {
  display: inline-block;
  font-family: "geomanistmedium";
  font-size: 14px;
  margin: 0.5em 0 0 0;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;
  }

  a,
  a:visited {
    color: $darkblue;
    display: inline-block;
    padding: 0.55em 0.7em;
    text-transform: uppercase;
    position: relative;

    &:hover {
      color: $orange;
      text-decoration: none;
    }
    &.active::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      display: block;
      bottom: 4px;
      right: 10px;
      border-bottom: 4px solid #fbcd14;
    }
  }
}

//headings
.heading {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;

  .name {
    background: transparentize($orange, 0.2);
    color: $darkblue;
    display: inline-block;
    font-family: "geomanistmedium";
    font-size: 2em;
    padding: 0.87em;
  }
}
//homepage
.heading-home {
  .wrapper {
    @include clearfix;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 20em;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .about {
    width: 33%;
    margin-right: 4em;
    min-height: 20em;
    color: $darkblue;
    font-size: 13px;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
  }

  .hero {
    width: 63%;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 6px;
    }
  }

  h1 {
    font-size: 36px;
    font-family: "geomanistlight";
    text-align: right;
    text-transform: none;
    color: $darkblue;
    margin-bottom: 18px;
    strong {
      font-family: "geomanistmedium";
      font-weight: normal;
    }
  }

  h2 {
    font-size: 20px;
    font-family: "geomanistmedium";
    font-weight: normal;

    color: $darkblue;
  }

  h3 {
    font-size: 18px;
    font-family: "geomanistmedium";
    font-weight: normal;

    color: $darkblue;
  }

  .button {
    font-size: 14px;
  }
}

#page {
  margin-top: 2em;
  padding-top: 1em;
  background: #eef0f0;
}

#title-page {
  margin-top: -4.5em;
  margin-bottom: 2em;

  h1 {
    color: $orange;
    font-size: 1.8em;
  }
}

.responsive-iframe {
  padding: 0;
  padding-bottom: 56.25%;
  position: relative;
  display: block;
  height: 0;
  width: 100%;
  overflow: hidden;
}

.img-rounded {
  border-radius: 6px;
}
pull-left {
  float: left;
}
pull-right {
  float: right;
}
#tab-links {
  clear: both;

  ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 1em 0;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      a {
        color: $darkblue;
        border-radius: 0.2rem;
        display: block;
        padding: 0.2rem 0.5rem;
        margin-right: 0.5rem;
        &.active,
        &:hover {
          color: $white;
          background-color: $orange;
          text-decoration: none;
        }
      }
    }
  }
}
.primary-link {
  text-transform: uppercase;
  color: $orange !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $orange !important;
  }
}
.button,
.form-submit {
  @include rounded;
  background: $darkblue;
  color: $white;
  display: inline-block;
  font-family: "geomanistmedium";
  margin: 0.5em 0;
  padding: 0.4em 0.8em;
  text-decoration: none !important;
  text-shadow: none;
  border: none;
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    background: $orange;
    color: $white;
  }

  &.yellow {
    background: $orange;
    color: $white;
    &:visited,
    &:active {
      background: $orange;
      color: $white;
    }
    &:hover,
    &:active,
    &:focus {
      background: $darkblue;
      color: $white;
    }
  }

  &.pink {
    background: $pink;
    color: $white;
    &:visited,
    &:active {
      background: $pink;
      color: $white;
    }
    &:hover,
    &:active,
    &:focus {
      background: $darkblue;
      color: $white;
    }
  }

  &.blue {
    background: $blue;
    color: $white;
    &:visited,
    &:active {
      background: $blue;
      color: $white;
    }
    &:hover,
    &:active,
    &:focus {
      background: $blue;
      color: $white;
    }
  }

  &.black {
    background: $darkblue;
    color: $white;
    &:visited,
    &:active {
      background: $darkblue;
      color: $white;
    }
    &:hover,
    &:active,
    &:focus {
      background: $orange;
      color: $white;
    }
  }

  &.btn-block {
    width: 100%;
    display: block;
    text-align: center;
  }

  &.big {
    font-size: 1.2em;
  }
}

/* video helper */
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive embed,
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.logout {
  font-size: 13px;
}

.button.green,
.navigation .user-menu .button.green {
  background: $green;
  color: $white;
}

.button.green:hover,
.navigation .user-menu .button.green:hover {
  color: $darkblue;
  text-decoration: none;
}

.button.yellow,
.navigation .user-menu .button.yellow {
  background: $orange;
  color: $white;
  &:hover {
    background: $darkblue;
    color: $white;
    text-decoration: none;
  }
}

.margin-right {
  margin-right: 1em;
}

.ajax-progress {
  display: none;
}

.debug {
  background: $debug;
}

#responsive-marker {
  display: none;
}

.admin #responsive-marker {
  background: $debug;
  bottom: 0;
  display: block;
  font-size: 0.7em;
  padding: 1px 2px 0;
  position: fixed;
  right: 0;
  z-index: 9999;
}

.webform-client-form {
  font-family: "geomanistbook";

  label {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .nice-select {
    float: none;
    background: $white;
    border-right: 0;
    border-radius: 4px;
  }

  .form-text,
  .form-textarea {
    border-radius: 4px;
    border: 1px solid $lightgrey;
    color: $darkblue;
    font-family: "geomanistbook";
    outline: none;
    padding: 0.5em 0.8em;
    width: 100%;
  }

  .form-actions {
    text-align: center;
  }
}

#block-views-related-block {
  margin-top: 3em;

  &::before {
    background: $darkblue;
    content: "";
    display: block;
    height: 10em;
    left: 50%;
    position: absolute;
    top: -1em;
    transform: translateX(-50%);
    width: 100vw;
    z-index: 0;
  }

  .block-title {
    color: $white;
    font-size: 1.994em;
    margin: 0.5em 0;
    position: relative;
    z-index: 1;
  }
}

.node-webform {
  .field-body {
    background: $white;
    padding: 1em;
  }

  h2 {
    color: $darkblue;
    font-size: 1.8em;
    margin: 0 0 0.5em;
    text-transform: uppercase;
  }
}

.webform-component--prenom,
.webform-component--nom {
  @include span(5);
}

.webform-component--email {
  margin-right: 0;
  clear: both;
}

.webform-component-textarea {
  .grippie {
    display: none;
  }
}

.webform-component--message {
  @include clearfix();
}
/////////////////////////////////////////////////////////////////////////////
//  additions
///////////////////////////////////////////////////////////////////////////
// flex 2 columns
.flex-2cols,
.flex-2cols #block-system-main {
  & > .region {
    width: 74%;
  }
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  & > .content {
    padding: 0;
    width: 100%;
  }
}

#main {
  margin-bottom: 3em;
}

.field-name-field-categorie {
  color: $darkblue;
}

.links.inline {
  padding: 0;
  list-style: none;

  a {
    color: $darkblue;
    font-size: 0.8em;
  }
}

.logo {
  margin-top: 10px;
  margin-right: 40px;
  width: 33%;
  display: inline-block;

  img {
    width: 230px;
  }
}

/* messages drupal */
div.messages {
  background: none;
  border: none;
  font-size: 0.8em;
  margin: 0 0 2em 0;
  padding: 1em 2em;
  border-radius: 0.25em;

  &.error {
    background: $pink;
    color: $white;
  }
  &.status {
    background: $green;
    color: $white;
  }
}

/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */
@supports (display: grid) {
  .formation {
    margin: 0;
  }
}

// on cache le titre et les liens de navigation
.page-user {
  .heading,
  #tab-links {
    display: none;
  }

  h1.page-name {
    width: 100%;
    display: inline-block;
    margin-right: 0;
    margin-top: 0;
    position: relative;
  }
}

.box h5 {
  text-transform: uppercase;
  margin-top: 0;
  font-family: "geomanistbold";
  margin-bottom: 0.3em;
}
.logo-360 {
  float: left;
  margin-right: 1em;
}

.txt-yellow {
  color: $orange;
}
.txt-green {
  color: $green;
}

.fat-link,
.fat-link:visited {
  font-weight: bold;
  color: $darkblue;
}

.grid-fit {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.region-content-bottom {
  background: $lightgrey;
}
.content {
  position: relative;

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

.webform-progressbar,
.field-hidden {
  display: none;
}
#edit-submitted-message {
  height: 110px;
}

// on cache le contenu de la page d'accueil
.front .view-id-home,
#edit-captcha,
#block-views-exp-projets-page #edit-keys-wrapper,
h2.ui-title {
  display: none;
}

.profile-picture {
  border-radius: 50%;
  width: 130px !important;
  height: 130px !important;
  object-fit: cover;
}
