/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
       url('../fonts/ubuntu-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v12-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/ubuntu-v12-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
       url('../fonts/ubuntu-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v12-latin-italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
       url('../fonts/ubuntu-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v12-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v12-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

/* ubuntu-500italic - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ubuntu-v12-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
       url('../fonts/ubuntu-v12-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/ubuntu-v12-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/ubuntu-v12-latin-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/ubuntu-v12-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/ubuntu-v12-latin-500italic.svg#Ubuntu') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'geomanistlight';
    src: url('../fonts/geomanist/geomanist-light-webfont.eot');
    src: url('../fonts/geomanist/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-light-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-light-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-light-webfont.ttf') format('truetype'),
         url('../fonts/geomanist/geomanist-light-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'geomanistbook';
  src: url('../fonts/geomanist/geomanist-book-webfont.eot');
  src: url('../fonts/geomanist/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geomanist/geomanist-book-webfont.woff2') format('woff2'),
  url('../fonts/geomanist/geomanist-book-webfont.woff') format('woff'),
  url('../fonts/geomanist/geomanist-book-webfont.ttf') format('truetype'),
  url('../fonts/geomanist/geomanist-book-webfont.svg#geomanistregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'geomanistmedium';
    src: url('../fonts/geomanist/geomanist-medium-webfont.eot');
    src: url('../fonts/geomanist/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geomanist/geomanist-medium-webfont.woff2') format('woff2'),
         url('../fonts/geomanist/geomanist-medium-webfont.woff') format('woff'),
         url('../fonts/geomanist/geomanist-medium-webfont.ttf') format('truetype'),
         url('../fonts/geomanist/geomanist-medium-webfont.svg#geomanistregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'geomanistbold';
  src: url('../fonts/geomanist/geomanist-bold-webfont.eot');
  src: url('../fonts/geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/geomanist/geomanist-bold-webfont.woff2') format('woff2'),
  url('../fonts/geomanist/geomanist-bold-webfont.woff') format('woff'),
  url('../fonts/geomanist/geomanist-bold-webfont.ttf') format('truetype'),
  url('../fonts/geomanist/geomanist-bold-webfont.svg#geomanistregular') format('svg');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'colibris';
  src: url('../fonts/colibris-regular.woff') format('woff'),
       url('../fonts/colibris-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
