
// ----------------------------------------------
// SASS & Compass mixins
// ----------------------------------------------
@function url-friendly-colour($colour) {
  @return '%23' + str-slice('#{$colour}', 2, -1)
}

$rollover-time: .2s;

@mixin debug {
  background: rgba(35, 26, 85, .53);
  box-sizing: border-box;
  padding: 0;
}

@mixin rounded($radius: 4px) {
  border-radius: $radius;
}

@mixin bottom-margin {
  margin-bottom: 2.1%;
}

@mixin bullet ($color) {
  &::before {
    @include rounded;
    background: $color;
    content: '';
    display: inline-block;
    height: .4em;
    margin: .6em 0 0 -1em;
    position: absolute;
    width: .4em;
  }
}

@mixin hide {
  border: noe;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin opacity-none {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

@mixin opacity-full {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@mixin absolute-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin centered-bg {
  background-size: cover;
  background-position: center center;
}

@mixin repeat-bg {
  background-repeat: repeat;
  background-position: center center;
}

@mixin transition ($duration:.3s, $element: all) {
  -webkit-transition: $element $duration ease;
  -moz-transition: $element $duration ease;
  transition: $element $duration ease;
}

@mixin shadow($size: '3px', $color: #BBB) {
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
  box-shadow: 0 0 $size 0 $color;
}

@mixin shadow-hover {
  box-shadow: 0 0 20 0 #999;
}

@mixin no-text {
  text-indent:-999px;
  overflow: hidden;
}

@mixin clearfix {
 &:after {
 content: "";
 display: table;
 clear: both;
 }
}

@mixin fullwidthbg($color) {
  position: relative;

  &::before {
    background: $color;
    bottom: 0;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;
  }
}

@mixin plus-sign {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('data:image/svg+xml;base64,' 
    + base64Encode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="401.994px" height="401.994px" viewBox="0 0 401.994 401.994" style="enable-background:new 0 0 401.994 401.994;" xml:space="preserve"><g><path fill="rgb(151,158,2)" d="M394,154.175c-5.331-5.33-11.806-7.994-19.417-7.994H255.811V27.406c0-7.611-2.666-14.084-7.994-19.414 C242.488,2.666,236.02,0,228.398,0h-54.812c-7.612,0-14.084,2.663-19.414,7.993c-5.33,5.33-7.994,11.803-7.994,19.414v118.775 H27.407c-7.611,0-14.084,2.664-19.414,7.994S0,165.973,0,173.589v54.819c0,7.618,2.662,14.086,7.992,19.411 c5.33,5.332,11.803,7.994,19.414,7.994h118.771V374.59c0,7.611,2.664,14.089,7.994,19.417c5.33,5.325,11.802,7.987,19.414,7.987 h54.816c7.617,0,14.086-2.662,19.417-7.987c5.332-5.331,7.994-11.806,7.994-19.417V255.813h118.77 c7.618,0,14.089-2.662,19.417-7.994c5.329-5.325,7.994-11.793,7.994-19.411v-54.819C401.991,165.973,399.332,159.502,394,154.175z"/></g></svg>'));
}

@mixin plus-button {
  background-size: contain;
  background-image: url('data:image/svg+xml;base64,' 
    + base64Encode('<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="50" height="50" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><g><circle fill="white" cx="25" cy="25" r="25"/><polygon fill="#{$green}" points="37.744,27.73 27.757,27.73 27.757,38.099 22.298,38.099 22.298,27.73 12.256,27.73 12.256,22.327 22.298,22.327 22.298,11.901 27.757,11.901 27.757,22.327 37.744,22.327"/></g></svg>'));
}

@mixin download-button {
  background-size: contain;
  background-image: url('data:image/svg+xml;base64,' 
    + base64Encode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="50" height="50" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"><circle fill="#{$black}" cx="25" cy="25" r="25"/><path fill="white" d="M36.187,20.383H29.79v-9.594h-9.593v9.594H13.8L24.993,31.58L36.187,20.383z M13.8,34.775v3.203h22.388 v-3.203H13.8z"/></svg>'));
}

@mixin social-icon($service, $color) {
  @if $service == twitter {
    background-image: url('data:image/svg+xml;base64,'
      + base64Encode('<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="24.393px" height="19.799px" viewBox="0 0 24.393 19.799" enable-background="new 0 0 24.393 19.799" xml:space="preserve"><path id="twitter_16_" fill-rule="evenodd" clip-rule="evenodd" fill="#{$color}" d="M16.592,0.001c1.939-0.034,2.97,0.672,3.956,1.57 c0.836-0.072,1.924-0.539,2.564-0.864c0.208-0.114,0.415-0.227,0.623-0.341c-0.366,0.988-0.862,1.762-1.624,2.349 c-0.169,0.13-0.337,0.307-0.549,0.39c0,0.004,0,0.008,0,0.008c1.086-0.007,1.982-0.497,2.832-0.763c0,0.004,0,0.008,0,0.012 c-0.447,0.71-1.052,1.431-1.697,1.948c-0.26,0.207-0.521,0.414-0.781,0.621c0.014,1.15-0.017,2.247-0.232,3.213 c-1.25,5.617-4.561,9.431-9.804,11.065c-1.882,0.587-4.924,0.828-7.081,0.292c-1.07-0.266-2.036-0.565-2.942-0.962 c-0.504-0.22-0.97-0.459-1.416-0.73C0.293,17.72,0.146,17.631,0,17.541c0.486,0.015,1.056,0.149,1.599,0.061 c0.492-0.079,0.975-0.059,1.428-0.158c1.132-0.248,2.137-0.577,3.003-1.083c0.42-0.246,1.057-0.534,1.355-0.889 c-0.562,0.01-1.072-0.12-1.489-0.268c-1.619-0.572-2.561-1.623-3.174-3.201c0.491,0.054,1.904,0.182,2.234-0.097 c-0.618-0.034-1.212-0.392-1.636-0.657c-1.302-0.815-2.364-2.182-2.356-4.285c0.171,0.081,0.342,0.162,0.513,0.243 c0.327,0.138,0.66,0.212,1.05,0.292C2.692,7.533,3.022,7.63,3.211,7.56c-0.008,0-0.016,0-0.024,0 C2.934,7.267,2.524,7.072,2.271,6.757C1.435,5.718,0.652,4.12,1.148,2.217c0.126-0.483,0.325-0.909,0.537-1.303 c0.008,0.004,0.016,0.008,0.024,0.012C1.806,1.13,2.023,1.279,2.161,1.45c0.427,0.529,0.953,1.005,1.49,1.424 c1.828,1.429,3.473,2.307,6.117,2.958c0.671,0.165,1.446,0.291,2.246,0.292c-0.225-0.655-0.153-1.715,0.024-2.349 c0.445-1.594,1.413-2.744,2.832-3.359c0.339-0.147,0.716-0.255,1.111-0.341C16.185,0.05,16.388,0.026,16.592,0.001z"/></svg>'));
  }
  @else if $service == instagram {
    background-image: url('data:image/svg+xml;base64,'
      + base64Encode('<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="19.732px" height="19.732px" viewBox="0 0 19.732 19.732" enable-background="new 0 0 19.732 19.732" xml:space="preserve"><path id="instagram_14_" fill-rule="evenodd" clip-rule="evenodd" fill="#{$color}" d="M17.266,19.732H2.467 C1.104,19.732,0,18.628,0,17.266V2.467C0,1.104,1.104,0,2.467,0h14.799c1.362,0,2.467,1.104,2.467,2.467v14.799 C19.732,18.628,18.628,19.732,17.266,19.732z M9.866,6.043c-1.538,0-2.861,0.91-3.467,2.22H6.395 C6.389,8.277,6.385,8.291,6.379,8.305C6.342,8.386,6.31,8.469,6.279,8.553c-0.015,0.04-0.03,0.079-0.044,0.12 C6.207,8.759,6.184,8.846,6.162,8.935C6.152,8.976,6.139,9.016,6.13,9.058C6.11,9.151,6.096,9.246,6.083,9.342 C6.078,9.38,6.07,9.418,6.066,9.457C6.051,9.592,6.043,9.728,6.043,9.866c0,2.111,1.712,3.823,3.823,3.823 c2.111,0,3.823-1.712,3.823-3.823c0-0.138-0.008-0.275-0.023-0.409c-0.004-0.039-0.012-0.077-0.018-0.115 c-0.013-0.095-0.027-0.19-0.047-0.284c-0.009-0.042-0.021-0.082-0.032-0.124c-0.022-0.088-0.045-0.176-0.073-0.262 c-0.013-0.041-0.029-0.08-0.044-0.12c-0.031-0.084-0.063-0.167-0.099-0.248c-0.006-0.014-0.011-0.028-0.017-0.042h-0.003 C12.727,6.953,11.404,6.043,9.866,6.043z M17.512,3.207c0-0.545-0.442-0.987-0.987-0.987h-1.973c-0.545,0-0.987,0.442-0.987,0.987 V5.18c0,0.545,0.442,0.987,0.987,0.987h1.973c0.545,0,0.987-0.442,0.987-0.987V3.207z M17.512,8.263h-1.819 c0.14,0.511,0.216,1.048,0.216,1.603c0,3.337-2.706,6.043-6.043,6.043s-6.043-2.705-6.043-6.043c0-0.555,0.075-1.093,0.216-1.603 H2.22v8.263c0,0.545,0.442,0.987,0.987,0.987h13.319c0.545,0,0.987-0.442,0.987-0.987V8.263z"/></svg>'));
  }
  @else if $service == facebook {
    background-image: url('data:image/svg+xml;base64,' 
      + base64Encode('<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="9.212px" height="19.645px" viewBox="0 0 9.212 19.645" enable-background="new 0 0 9.212 19.645" xml:space="preserve"><path id="facebook_16_" fill-rule="evenodd" clip-rule="evenodd" fill="#{$color}" d="M9.192,0.006c0,1.133,0,3.161,0,3.161 s-2.33-0.232-2.914,0.661C5.96,4.316,6.149,5.745,6.121,6.771c1.017,0,2.074,0,3.091,0c-0.261,1.2-0.448,2.013-0.641,3.052 c-0.88,0-2.468,0-2.468,0v9.822c0,0-2.913,0-4.282,0c0.001-3.028-0.001-6.56,0-9.783c-0.665,0-1.157,0-1.822,0 c0-1.132,0-1.958,0-3.09c0.645,0,1.156,0,1.802,0c0.092-2.26,0.127-4.498,1.25-5.638C4.313-0.148,5.516,0.006,9.192,0.006z"/></svg>')
      );
  }
  @else if $service == vimeo {
    background-image: url('data:image/svg+xml;;base64,'
      + base64Encode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="22.473px" height="19.659px" viewBox="0 0 22.473 19.659" enable-background="new 0 0 22.473 19.659" xml:space="preserve"><path id="vimeo_1_" fill-rule="evenodd" clip-rule="evenodd" fill="#{$color}" d="M19.445,11.595 c-1.353,1.971-3.214,4.338-4.838,5.736c-1.177,1.013-3.354,2.581-5.068,2.294C5.123,18.885,6.063,8.07,3.089,5.63 c-1.36-0.394-2.016,1.691-2.764,0.459C-0.851,5.11,1.457,3.402,2.628,2.418c1.448-1.217,3.155-2.949,5.068-2.196 c3.725,1.467,1.055,10.357,4.607,12.291c1.836-1.473,3.893-3.907,3.455-6.883c-0.348-0.993-2.03-0.678-2.995-0.459 c-0.049-4.539,8.933-8.018,9.675-1.835C22.842,7.121,19.445,11.595,19.445,11.595z"/></svg>'));
  }
  @else if $service == youtube {
  background-image: url('data:image/svg+xml;base64,'
      + base64Encode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0" y="0" width="28.715px" height="19.744px" viewBox="0 0 28.715 19.744" enable-background="new 0 0 28.715 19.744" xml:space="preserve"><defs></defs><path id="youtube_1_" fill="#{$color}" d="M24.302,0.009L14.922,0L5.176,0.009C2.738,0.009,0,1.636,0,4.022v11.881 c0,2.386,2.738,3.841,5.176,3.841h9.931h9.195c2.438,0,4.414-1.455,4.414-3.841V4.022C28.715,1.636,26.74,0.009,24.302,0.009z M12.502,14.447l-0.057-9.048l6.296,4.563L12.502,14.447z"/></svg>'));
  }
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
