//  #############################################  //
//  ##### Sasson - Advanced Drupal Theming. #####  //
//  #############################################  //

// ---- Layout & Grid settings ----------------------
//  Sasson use Susy as the layout system.
//  Full Susy docs can be found at:
//  http://susydocs.oddbird.net/
// --------------------------------------------------

$settings: (

  // ---- Container ---------------------------------
  container: 1140px,

  container-position: center,

  // ---- Directionality ----------------------------
  flow: ltr,

  // ---- Grid system -------------------------------
  columns: 12,
  gutters: .24,
  math: fluid,
  output: float,
  global-box-sizing: border-box,
  last-flow: to,

  // ---- Media Query breakpoints. ------------------
  breakpoint-x-small: 380px,
  breakpoint-small: 768px,
  breakpoint-medium: 990px,
  breakpoint-large: 1200px
);

@include layout($settings);
