// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   1. Larger viewport - fixed, pixel based layout, two sidebars floating.
//   2. Large viewport - fluid, precentage based layout, two sidebars floating.
//   3. Medium viewport - fluid, precentage based layout, only first one floating.
//   4. Small viewport - simple, content first, no sidebars layout.
// ==========================================================================

// Layout for medium viewports.

@import 'susy';
@import 'layout/settings';
@import 'partials/colors';
@import 'partials/mixins';

@media (max-width: susy-get(breakpoint-medium)) {
  #responsive-marker::before {content:'medium|'}

  html {
    font-size: .8em;
  }

  .row {
    .quarter {
      @include gallery(6);
    }

    .span8,
    .span4 {
      @include gallery(12);
      float: none;
    }
  }

  .view-magazine,
  .view-term,
  .view-recherche {
    .view-content {
      .item {
        padding: .6em;
        width: 50%;
      }
    }
  }

  #admin-menu {
    height: 29px;
    overflow: hidden;
  }

}
