// ====== Media Queries for a Responsive Design. ============================
//   By default we suggest 4 levels of layout :
//   1. Larger viewport - fixed, pixel based layout, two sidebars floating.
//   2. Large viewport - fluid, precentage based layout, two sidebars floating.
//   3. Medium viewport - fluid, precentage based layout, only first one floating.
//   4. Small viewport - simple, content first, no sidebars layout.
// ==========================================================================

// Layout for smallest viewports.

@import "susy";
@import "layout/settings";
@import "partials/colors";
@import "partials/mixins";

@media (max-width: susy-get(breakpoint-small)) {
  .one-half {
    width: 100%;
    float: none;
  }

  .group-one-third {
    width: 100%;
    float: none;
  }

  .group-two-third {
    width: 100%;
    float: none;
  }

  .navigation .user-menu {
    width: 100%;
    font-size: 0.85em;
    text-align: center;
  }

  #footer .wrapper .block {
    width: 100%;
    float: none;
  }

  #footer .wrapper {
    background: url(../../images/logo-right.svg) no-repeat bottom right;
  }

  .logo {
    margin: 1em auto;
    width: 60%;
    display: block;
    text-align: center;
  }

  .navigation .user-menu a,
  .navigation .username {
    width: 144px;
    display: inline-block;
    font-size: 0.9em;
    margin: 0.3em 0.5em;
  }

  #block-system-main-menu .menu li a {
    padding: 0 1em;
    font-size: 0.9em;
    text-align: center;

    &.active::after {
      display: none;
    }
  }

  .flex-2cols,
  .flex-2cols #block-system-main,
  .front .flex-2cols,
  .front .flex-2cols #block-system-main {
    display: block;
  }

  .flex-2cols > .region,
  .flex-2cols #block-system-main > .region,
  .front .flex-2cols > .region,
  .front .flex-2cols #block-system-main > .region {
    width: 100%;
  }

  #block-views-nodequeue-1-block-1 .item-list li {
    margin: 0 0 1em 0;
    width: 100%;
  }

  #block-views-nodequeue-1-block-1 .item-list ul {
    display: block;
  }
  .node-type-projet .project-container {
    display: block;
  }
  .sidebar,
  .front .sidebar,
  .node-type-projet .project-container .projet-main,
  .node-type-projet .project-container .projet-side {
    margin-left: 0;
    width: 100%;
  }

  .galleryformatter .gallery-slides {
    max-width: 100%;
    img {
      max-width: 100%;
      width: 100%;
      image-rendering: unset;
      max-height: 300px;
    }
  }

  .node-type-projet .project-container .projet-main .galleryview {
    margin: 0;
  }

  #block-system-main-menu {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }

  #page {
    margin-top: 1em;
  }

  #block-system-main-menu .first.leaf {
    display: none;
  }

  #title-page {
    margin-top: -3.6em;
    margin-bottom: 2em;
    text-align: center;

    h1 {
      font-size: 1.4em;
    }
  }

  #block-views-exp-besoins-page-1,
  #block-views-exp-projets-page-2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 31px;
    background: $white;
    height: 44px;
    #edit-keys {
      border: none;
      padding: 9px 0 0 0;
      width: 90px;
      text-align: right;
    }
  }

  #block-system-main {
    margin-top: 4.5em;
  }

  #views-exposed-form-besoins-page-1,
  #views-exposed-form-projets-page-2 {
    position: absolute;
    left: calc(50vw + 1.5em);
    right: auto;
    width: 140px;
  }

  #block-block-17,
  #block-block-18 {
    position: absolute;
    top: 25px;
    width: 140px;
    right: calc(50vw + 1.5em);
    left: auto;
  }
  .view-projets .item-list {
    ul {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, 280px);
      grid-gap: 1em;

      justify-content: center;
    }
    .projet {
      grid-template-areas: "img" "title" "desc" "more" !important;
      grid-template-columns: 1fr !important;
      width: 280px;
      padding-right: 0;
      .img {
        margin-right: 0;
      }
      .title {
        margin: 0.5em 1em;
      }
      .desc {
        margin: 0em 1.25em;
      }
      .more {
        margin: 1em auto;
      }
    }
  }
  .item-list .besoin .title-besoin {
    padding: 1em !important;
  }

  #projet-node-form {
    max-width: 100%;
  }
  .page-user-register {
    #user-register-form, #user-register-form--2 {
      width: 100%;
      max-width: 100%;
      margin: 0;
      & > div {
        background: $white;
        padding: 1em 6em 5em 6em;
      }
    }
    .form-item, .field-type-text-long {
      position: relative;
    }
    .description {
        position: relative;
        top:0 !important;
        right:auto;
        width:100%;
        font-size:.85em;
    }
  }
}
