.social-btns{padding: 5px;margin:10px 0;height:20px;clear: both;}
.social-btns h4 {display:block;float:left;margin:0 10px 0 0}
.social-btns a, .fb-wrapper {display:block;width:20px;height:20px;text-indent: -99px;overflow: hidden;text-transform: uppercase;background: url(socialbtns.png);float:left;margin-right:10px}
.social-btns a.tw {background-position: -30px 0}

.fb-wrapper {text-indent: 0}