#archipel-colibris {
  height: 40px;
  background: $darkblue;

  .archipel {
    background: $darkblue;
    color: $white;
    font-family: "geomanistlight", sans-serif;

    .social-links {
      margin: 0;
      li {
        margin: 0 0 0 1.5em;
      }
    }

    .islands__list {
      background: $darkblue;
    }

    a.current,
    a:hover {
      color: $orange;
      text-decoration: none;
    }
  }
}

@media (max-width:990px) {
  #archipel-colibris {
    height: 32px;
  }
}
