/** Footer */
#footer {
  background: $darkblue;
  color: $white;
  padding: 2em 0;
  font-family: 'geomanistbook';

  .wrapper {
    background: url(../images/logo-colibris-faire-sa-part-ensemble-blanc-min.svg) no-repeat right center;
    background-size: 190px;
    min-height: 200px;

    .block {
      width: 25%;
      margin: 1em 2%;
      display: block;
      float: left;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 0;
          margin: 0;
          list-style: none;
          list-style-image: none;
          list-style-type: none;
        }
      }

      h2 {
        text-transform: uppercase;
        font-size: 1em;
      }
      #edit-submit {
        float: none;
        margin: 0;
      }
    }

    a {
      color: $white;

      &:hover {
        color: $orange;
        text-decoration: none;

      }
    }

    .menu-944 a,
    .menu-670 a {
      display: block;
      background: url(../images/cc.png) no-repeat top left;
      font-size: 0;
      height: 30px;
      width: 89px;
    }
  }

  /* BE CAREFUL the last element of the apropos list will be changed to a button, keep the donate link in last position */
  .apropos .last.leaf a {
    display: block;
    margin: .5em 0;
    padding: .5em;
    background: $orange;
    border-radius: .5em;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

}

.block-title {
  color: $white;
  font-size: 1.1em;
  margin: 0;
  text-transform: none;

}

#sendinblue-newsletter-4-mergefields {
  width: 220px;
  float: left;

  #edit-fields-email {
    border: 1px solid $white;
    border-radius: 4px 0 0 4px;
  }
}

#edit-submit {
  float: left;
  margin: 18px 0 0 0;
  background: $orange;
  border-radius: 0 4px 4px 0;
  color: $darkblue;
  padding: 1px 8px;
  font-size: 14px;
}

.newsletter {
  h2 {
    color: $white;
    font-size: 0.889em;
    margin: 0;
    text-transform: none;
  }


  label {
    display: none;
  }

  form>div {
    position: relative;

    .about & {
      width: 50%;
    }
  }

  .form-required {
    display: none;
  }

  .form-item {
    margin: 0.5em 0;

    .error {
      border: 1px solid $error;
    }
  }

  .form-submit {
    bottom: 0.1rem;
    opacity: 0;
    position: absolute;
    right: 30%;
  }

  .about & {
    .form-submit {
      bottom: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      margin: 0;
      padding: 0.15em 0.2em;
    }
  }

  .form-text {
    border-radius: 4px;
    border: 0;
    font-family: 'geomanistbook';
    font-size: 0.889em;
    padding: 0.3em 0.6em;
    position: relative;
  }

  .form-type-textfield {
    position: relative;
    width: 70%;

    .about & {
      width: 100%;
    }

    &::after {
      color: $black;
      font-size: 1.1em;
      position: absolute;
      right: 0.4em;
      top: 0;
    }
  }
}

.footer-menu {
  @include span(8);
  margin-right: 0;

  .content {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 0.889em;
      list-style-type: none;
      margin: 0;
      padding: 0;

      &::before {
        color: $green;
        font-size: 1.5em;
        margin-right: 0.5em;
        vertical-align: middle;
      }
    }

    .sub-list {
      float: left;
      width: 40%;
    }
  }
}
