/** main menu */
#block-system-main-menu {
  border-top: 1px solid rgba(230,230,230,0.6);
  padding-top: 1em;
  margin-bottom: 2em;

  .menu {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0 1em 0 0;
      list-style: none;

      a {
        padding: .5em 1em;
        display: inline-block;
        border-radius: 4px;
        color: $darkblue;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'geomanistmedium';

        &:hover {
          text-decoration: none;
          color: $white;
          background-color: $orange;
        }

        &.active {
          color:$orange;
          position: relative;
          &:hover {
            color:$white;
          }
          &::after {
            position: absolute;
            bottom: 7px;
            right: 1em;
            width: 18px;
            height: 2px;
            content: ' ';
            display: block;
            background-color: $orange;
          }
        }
      }
    }
  }
}
