/*** right sidebar  **/
.sidebar {
  margin-left: 1em;
  width: 25%;
  padding: 0;

  ul {
    padding-left: 15px;
  }

  h1 {
    color: $orange;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: .5em;
  }

  .block {
    h1 {
      font-family: 'geomanistbook';
      color: $darkblue;
      margin: 0;
    }

    h2 {
      font-family: 'geomanistbold';
      font-size: 1.4em;
      color: #e68c1e;
      margin: 0;
      line-height: 1em;
    }

    h3 {
      font-family: 'geomanistbold';
      font-weight: bold;
      margin: 0 0 .8em 0;
      color: $orange;
      font-size: 1.1em;
    }

    p {
      margin: 0;
    }
  }

  .intro {
    background-color: $lightgrey;
    padding: 1em 1em 0 1em;
    font-size: .9em;
    border-radius: 3px;
  }

  .map-link {
    margin: 1em 0 0 0;
    display: block;
  }

  .big-link {
    &:hover {
      text-decoration: none;
      color: $white
    }

    display:block;
    margin: 1em 0;
    padding:.5em 1em;
    color:$white;
    border-radius: 3px;
    font-size: 1.6em;

    &.projects-map {
      background-color: $darkblue;
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &.projects {
      background-color: $orange;
    }

    &.help {
      background-color: $green;
      margin-bottom: 12px;
    }
  }

  label {
    color: $darkblue;
    font-family: 'geomanistbook';
    font-size: 0.889em;
    font-weight: normal;
    padding: 0.95em 0.35em;
  }

  input[type=password],
  input[type=text],
  select {
    @include rounded;
    border: 1px solid $lightgrey;
    color: $darkblue;
    font-family: 'geomanistbook';
    font-size: 0.889em;
    padding: 0.5em 0.6em;
    width: 100%;
  }

  .block-contribute {
    margin-top: 2em;
    padding: 1em 1em 0 1em;
    background-color: $white;

    .contrib-link {
      display: block;
      padding: 1em;
      margin-left: -1.3em;
      margin-right: -1.3em;
      border-top: 4px solid $lightgrey;
      color: $darkblue;
      text-transform: uppercase;
      background: url(../images/picto-plus.png) no-repeat center right;
      background-position-x: calc(100% - 10px);
      background-size: 18px;
      font-weight: bold;
      font-size: .8em;

      &:hover {
        text-decoration: none;
        color: $orange;
      }
    }
  }

  .block-intro {
    margin-bottom: 2em;

    .up {
      text-transform: uppercase;
      font-family: 'geomanistbold';
      line-height: 1.3em;
    }

    h2,
    p {
      font-size: 1em;
      line-height: 1.3em;
    }
  }

  .block-create-account {
    h2 {
      text-transform: uppercase;
      margin: 1em 0 1em 0;
    }
  }
}
